
@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h1 class="display-4">Bienvenido a los ejemplos de Knockout</h1>
    <p class="lead">En esta web veremos todos los ejemplos de <b>Knockout</b> que sean necesarios para una adopción unificada de criterios.</p>
    <hr class="my-4">
    <p>Si tenes alguna duda consulta al siguiente correo: <b>nfvelazco@gmail.com</b></p>
    <hr class="my-4">
    <a class="btn btn-success" target="_blank" href="http://knockoutjs.com/">Página Oficial</a>
</div>