
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido a los ejemplos de Knockout</h2>
<hr />
<h4>En esta web veremos todos los ejemplos de <b>Knockout</b> que sean necesarios para una adopción unificada de criterios.</h4>
